@import 'styles'; 

.banner {
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: space-between;
    margin: 24px auto; 
    background-color: var(--surface-a); 
    border-radius: 5px; 
    padding: 24px; 

    @media screen and (max-width: 800px) {
        flex-flow: column nowrap;
        justify-content: center;
    }

    &__spacer {
        height: 4rem; 
        width: 1px; 
        background-color: var(--surface-d); 
        @media screen and (max-width: 578px) {
            height: 3rem; 
        }
    }

    &__bio {
        color: var(--text-color); 
        font-size: 18px; 
        margin-bottom: 6px; 
    }

    &__col {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: column nowrap; 
        margin-left: 24px;  
        width: 100%;

        @media screen and (max-width: 400px) {
            width: 100%; 
        }
    }

    &__row {
        display: flex;
        flex-flow: row nowrap; 
        align-items: center;
  
        @media screen and (max-width: 400px) {
            width: 100%; 
        }

        &--bio {
            display: flex;
            flex-flow: row nowrap; 
            align-items: flex-end;
            justify-content: flex-start;
            height: 40px; 
        }

        &-username {
            font-size: 30px;
            font-weight: 600; 

            @media screen and (max-width: 578px) {
                font-size: 18px; 
            }
        }
    }

    &__item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        &-description {
            font-size: 18px; 

            @media screen and (max-width: 578px) {
                font-size: 10px; 
            }
        }

        &-count {
            font-size: 36px; 

            @media screen and (max-width: 578px) {
                font-size: 24px; 
                margin-top: 24px; 
            }
        }
    }

    &__avatar {
        &--lg {
            display: none;
            @media screen and (min-width: 400px) {
                display: flex
            }
        }

        &--md {
            display: none;
            @media screen and (max-width: 399px) {
                display: flex
            }
        }
    }
}