@import 'src/styles'; 

.icon-message {
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: center;

    &-success {
        height: 3rem; 
        width: 3rem; 
        border-radius: 2rem; 
        border: 1px solid var(--text-color); 
        display: flex;
        flex-flow: column nowrap; 
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
    }
}