<div class="peek" *ngIf="!isLoading">
    <tattoo-header></tattoo-header>
    <div class="tattoo-inside" style="height:100%">
        <router-outlet ></router-outlet>
    </div>
    <tattoo-footer></tattoo-footer>
    <p-dialog header="Upload" [(visible)]="displayUploadModal" [dismissableMask]="true" [showHeader]="true" [focusTrap]="true" [draggable]="false" [modal]="true">
        <tattoo-upload></tattoo-upload>
    </p-dialog>

    <p-dialog header="Whoops!" [(visible)]="displayErrorModal" [dismissableMask]="true" [showHeader]="true" [focusTrap]="true" [draggable]="false" [modal]="true">
        Something went wrong.
    </p-dialog>
</div>
<div class="peek__loading" *ngIf="isLoading">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</div>
