@import 'styles';

.peek {
    display: flex;
    flex-flow: column nowrap; 
    justify-content: space-between;
    min-height: 100vh;

    &-inside {
        min-height: 80vh; 

        @media screen and (max-width: 600px) {
            padding: unset; 
        }
    }

    &__loading {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap; 
        align-items: center;
        justify-content: center;
    }
}