<div class="landing-page">
    <div class="landing-page-container">
        <div class="landing-page-container__title tui-text_h1">{{config.title}}</div>
        <form class="landing-page__form" [formGroup]="formGroup">
            <tui-input *ngIf="!isReset && !isSetPassword">
                    Email
                    <input
                        tuiTextfield 
                        formControlName="username" 
                        type="email"
                    >
            </tui-input>
            <tui-error formControlName="username" [error]="[] | tuiFieldError | async"></tui-error>
            <tui-input *ngIf="isLogin || isReset || isSetPassword || isSignup"> 
                Password
                <input 
                    tuiTextfield
                    formControlName="password" 
                    type="password"
                >
                
            </tui-input>
            <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>

            <tui-input *ngIf="isReset || isSetPassword || isSignup">
                Confirm Password
                <input
                    
                    formControlName="confirmPassword" 
                    tuiTextfield
                    type="password"
                >
            </tui-input>
            <tui-error formControlName="confirmPassword" [error]="[] | tuiFieldError | async"></tui-error>

            <div class="landing-page__form-errors--fade" *ngIf="loginError != ''">
                {{ loginError }}
            </div>



            <button tuiButton [disabled]="!formGroup.valid" type="submit" (click)="onSubmit()">
                {{config.buttonText}}
            </button>
            <button *ngIf="isLogin" class="landing-page__form-message button-unstyled" (click)="forgotPassword()">
                Forgot Password?
            </button>

            <div *ngIf="!!passwordResetMessage" class="landing-page__form-message">
                {{passwordResetMessage}}
            </div>

            <div class="landing-page__form-message">{{config.message}}
                <button class="button-unstyled" (click)="toggleState()">
                    <div class="landing-page__form-message--link">{{config.secondaryButtonText}}</div>
                </button>
            </div>
        </form>
    </div>
</div>