@import 'styles'; 

$icon-size: 40px; 
.navigation {
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;
    justify-content: space-between;
    width: 100%; 

    &__tab {
        flex-grow: 1; 
        flex-shrink: 1; 
        display: flex; 
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        &-img {
            height: $icon-size; 
            width: $icon-size;
        }

        &-name {
            margin-top: 4px; 
            font-size: 12px; 
            text-align: center; 
            color: $contrast-color; 
        }
    }
}

input[type=file] {
    display: none 
}
