@import "styles"; 

.tattoo-footer {
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: $header-height; 

    &__sizer {
        @include max-width; 
        display: flex;
        flex-flow: row nowrap; 
        color: $white; 
    }

    &__item {
        color: white; 
        font-size: 16px; 
        margin-right: 12px; 
    }

    &__nav {
        padding: 18px; 
        position: fixed;
        bottom: 0; 
        width: 100%; 
        background-color: var(--surface-a); 

        @media screen and (min-width: 801px) {
            display: none;
        }
    }
}