<div class="booking">
    <i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i>
    <h3 *ngIf="bookings.length > 0">Your appointments</h3>
    <ng-container *ngIf="!isLoading">
        <p-card [header]="booking.artist_name" [style]="{'width': '100%', 'max-width': '500px', 'min-width': '300px', 'margin-bottom': '24px'}" *ngFor="let booking of bookings">
            <div style="width: 100%" class="booking__card-row" tooltipPosition="top" [pTooltip]="tooltipMessage('description', booking)">
                <strong>Description:</strong> 
                <p-tag [value]="labelText(booking.design_approved)" [severity]="booking.design_approved ? 'success' : 'info'"></p-tag>
            </div>
            <div>{{booking.design_description}}</div>

            <div style="margin-top: 24px;"class="booking__card-row" tooltipPosition="bottom" [pTooltip]="tooltipMessage('price', booking)">
                <strong>Price:</strong> 
                <p-tag [value]="labelText(booking.price_approved)" [severity]="booking.price_approved ? 'success' : 'info'"></p-tag>
            </div>
            <div *ngIf="booking.price != 0">${{booking.price}}</div>
            <p-button *ngIf="!booking.price_approved && booking.design_approved" label="Approve Price" [style]="{'margin-top': '24px'}" (click)="approvePrice(booking)"></p-button>

            <div *ngIf="booking.price_approved" style="margin-top: 24px;"class="booking__card-row" tooltipPosition="bottom" [pTooltip]="tooltipMessage('price', booking)">
                <strong>Date:</strong> 
                <p-tag [value]="labelText(!!booking.selected_date)" [severity]="!!booking.selected_date ? 'success' : 'info'"></p-tag>
            </div>
            <div *ngIf="!!booking.selected_date">
                {{formatDate(booking.selected_date)}}
            </div>
        </p-card>
    </ng-container>

    <h3 *ngIf="requests.length > 0">Your Requests</h3>
    <ng-container *ngIf="!isLoading">
        <p-card [header]="booking.artist_name" [style]="{'width': '100%', 'max-width': '500px', 'min-width': '300px', 'margin-bottom': '24px'}" *ngFor="let booking of requests">
            <div style="width: 100%" class="booking__card-row" tooltipPosition="top" [pTooltip]="requestMessage('description', booking)">
                <strong>Description:</strong> 
                <p-tag [value]="labelText(booking.design_approved)" [severity]="booking.design_approved ? 'success' : 'info'"></p-tag>
            </div>
            <div>{{booking.design_description}}</div>

            <div style="margin-top: 24px;"class="booking__card-row" tooltipPosition="bottom" [pTooltip]="requestMessage('price', booking)">
                <strong>Price:</strong> 
                <p-tag [value]="labelText(booking.price_approved)" [severity]="booking.price_approved ? 'success' : 'info'"></p-tag>
            </div>
            <div *ngIf="booking.price != 0">${{booking.price}}</div>
            
            <p-button *ngIf="!booking.design_approved" label="Review" [style]="{'margin-top': '24px'}" (click)="approveBooking(booking)"></p-button>

            <div>Date: <span>{{formatDate(booking.selected_date)}}</span></div>
            <p-button *ngIf="booking.price_approved" [label]="!booking.selected_date ? 'Select a time' : 'Change booking time'" [style]="{'margin-top': '24px'}" (click)="selectTime(booking)"></p-button>
        </p-card>
    </ng-container>

    <p-dialog *ngIf="!!currentBooking" header="Review Appointment Request" [modal]="true" [(visible)]="displayApprovalModal">
        <div style="width: 100%" class="booking__card-row">
            <strong>Description:</strong> 
        </div>
        <div>{{currentBooking.design_description}}</div>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="booking__form">
            <label for="price"><strong>Price Estimate: </strong></label>
            <p-inputNumber id="price" formControlName="price" inputId="currency-us" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            <div class="booking__form-row">
                <button type="submit" [disabled]="!formGroup.valid" pButton label="Approve" class="p-button-success"></button>
                <button type="cancel" pButton label="Deny" class="p-button-danger"></button>
            </div>
        </form>
    </p-dialog>

    <p-dialog header="Select a time" *ngIf="!!currentBooking" modal="true" [(visible)]="displayTimeSlotModal">
        <form [formGroup]="timeFormGroup" class="booking__form">
            <label for="date_1"><strong>1st Choice</strong></label>
            <p-calendar formControlName="date_1" [inline]="true" [showTime]="true"></p-calendar>    
            <label for="date_2"><strong>2nd Choice</strong></label>
            <p-calendar formControlName="date_2" [inline]="true" [showTime]="true"></p-calendar>    
            <label for="date_3"><strong>3rd Choice</strong></label>
            <p-calendar formControlName="date_3" [inline]="true" [showTime]="true"></p-calendar>    
            <button *ngIf="!currentBooking.price_approved" type="submit" [disabled]="timeGroupDisabled" pButton styleClass="p-button-success" label="Approve Price and Set Times" (click)="submitAppointmentTime()"></button>
        </form>
    </p-dialog>

    <p-dialog header="Select a time" *ngIf="!!times" modal="true" [(visible)]="displaySelectTimeModal">
        <p-button *ngFor="let date of times" [label]="formatDate(date)" (click)="submitSelectedTime(date)" [styleClass]="timeslotButtonClass(date)">
           
        </p-button>
    </p-dialog>
</div>
